<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="cities-header">
        <h1><%= @cities.count %> cities found in <%= @selected_country_name %>!</h1>
        <p>with a <strong>minimum nomad score</strong> of <strong><%= @selected_score_nomad %></strong></p>
      </div>

      <%= form_tag cities_path, method: :get, class: 'cities-filters' do %>
        <div>
          <%= label_tag :score_cost, "Cost Score" %>
          <input class="slider-score" id="slider-score-cost" name="score_cost" data-slider-id='sliderScoreCost' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="<%= @filters[:score_cost] %>"/>
        </div>
        <div>
          <%= label_tag :score_internet, "Internet Score" %>
          <input class="slider-score" id="slider-score-internet" name="score_internet" data-slider-id='sliderScoreInternet' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="<%= @filters[:score_internet] %>"/>
        </div>
        <div>
          <%= label_tag :score_fun, "Fun Score" %>
          <input class="slider-score" id="slider-score-fun" name="score_fun" data-slider-id='sliderScoreFun' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="<%= @filters[:score_fun] %>"/>
        </div>
        <div>
          <%= label_tag :score_safety, "Safety Score" %>
          <input class="slider-score" id="slider-score-safety" name="score_safety" data-slider-id='sliderScoreSafety' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="<%= @filters[:score_safety] %>"/>
        </div>
        <%= submit_tag "Filter", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% if @cities.any? %>
      <div class="cities">
        <% @cities.each do |city| %>
          <div class="col-xs-12 col-md-4">
            <div class="city-card">
              <div class="header" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.125) 0%, rgba(0,0,0,0.125) 100%), url('<%= city.picture_url %>');">
                <h2 class="name"><%= city.name %></h2>
                <div class="positioned rank">
                  <%= city.rank %>
                </div>

                <div class="positioned weather">
                  <div class="temperature">
                    <%= city.temperature %>°C
                  </div>
                  <div class="weather-emoji">
                    <%= city.weather_emoji %>
                  </div>
                </div>

                <div class="positioned rent-cost">
                  <%= city.rent_cost_per_month %>$
                </div>
                <div class="positioned wifi-speed">
                  <%= city.wifi_speed %> MBPS
                </div>
              </div>

              <div class="scores">
                <div class="score nomad">
                  <span>🎒 Nomad</span>
                  <div class="rating">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= city.score_nomad %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= city.score_nomad %>%;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="score cost">
                  <span>💸 Cost</span>
                  <div class="rating">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= city.score_cost %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= city.score_cost %>%;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="score internet">
                  <span>📡 Internet</span>
                  <div class="rating">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= city.score_internet %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= city.score_internet %>%;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="score fun">
                  <span>😬 Fun</span>
                  <div class="rating">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= city.score_fun %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= city.score_fun %>%;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="score safety">
                  <span>👮 Safety</span>
                  <div class="rating">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= city.score_safety %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= city.score_safety %>%;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>
        Try to change or
        <%= link_to 'reset your filters', cities_path %>
      </p>
    <% end %>
  </div>
</div>
